@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
    --primary: #ee1c24;
    --dark: #212121;
    --bg: #161616;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
    background: var(--bg);
}

/* ===============
       HEADER      
/* ============= */
.logo {
    height: 50px;
}
header {
    border-bottom: white 1px solid;
    height: 100%;
}
/* ===============
       MENU      
/* ============= */
nav a {
    text-decoration: none;
}
li,
a {
    display: inline-block;
    margin-right: 10px;
}
/* ===============
       FOOTER      
/* ============= */
.footer {
    height: 100px;
    color: white;
}
.footer strong,
.footer a {
    text-decoration: none;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
