@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
    --primary: #ee1c24;
    --hover: #ac1419;
    --dark: #212121;
    --bg: #161616;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.characters-container,
.character-container,
.comics-container,
.favorites-container {
    padding: 0 80px;
}
/* ===============
       HEADER      
/* ============= */
header {
    padding: 0 80px;
    color: white;
    background: var(--bg);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.header form input {
    display: inline-block;
    outline: none;
    border: 2px solid var(--bg);
    border-radius: 3px;
    padding: 5px;
}

.search-input :focus {
    border: 2px solid var(--primary);
}
.search-btn {
    background: var(--bg);
    color: white;
}

/* ===============
       MENU      
/* ============= */

li,
a {
    display: inline-block;
    margin-right: 10px;
}
li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    font-weight: bold;
}
li a:hover {
    background-color: var(--primary);
}

/* ===============
       FOOTER      
/* ============= */
.footer {
    margin-top: 80px;
    height: 100px;
    color: white;

    background: var(--bg);
}
.footer strong,
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===============
    CHARACTERS      
/* ============= */
.characters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1024px;
    height: 100%;
    flex: 1;
}
/* card */
.characters .character-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    color: white;
    background: var(--bg);
    cursor: pointer;
    border: 1px solid var(--bg);
    margin: 0 5px 5px 0px;
}
.character-card:nth-child(1),
.character-card:nth-child(2),
.character-card:nth-child(3),
.character-card:nth-child(4),
.character-card:nth-child(5) {
    margin-top: 0;
}
.character-card:nth-last-child(5),
.character-card:nth-last-child(1),
.character-card:nth-last-child(2),
.character-card:nth-last-child(3),
.character-card:nth-last-child(4) {
    margin-bottom: 0;
}

.character-card:last-child,
.character-card:nth-child(5n) {
    margin-right: 0;
}
.character-card:nth-child(5n + 1) {
    margin-left: 0;
}

.character-card:hover {
    background: var(--primary);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-duration: 0.3s;
}
.character-card:hover img {
    transform: scale(1.1);
    opacity: 0.4;
    filter: alpha(opacity=30);
}
.character-card {
    position: relative;
}

.character-card:hover .description {
    visibility: visible;
    opacity: 1;
}

.characters .character-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}
.characters .card-img {
    background: var(--dark);
    overflow: hidden;
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.characters .card-txt {
    max-height: 100%;
    width: 100%;
    border-top: 5px solid var(--primary);
}
.card-txt div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 20px 0 15px 0;
    width: 190px;
}
.card-txt span {
    font-weight: bold;
    margin-right: 5px;
}
.description {
    padding: 10px 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 210px;
    overflow: scroll;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.description p {
    margin: 5px 0;
}

/* ===============
       COMICS      
/* ============= */

.comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    margin: auto;
    /* width: 920px;
    height: 100%; */
}
.no-result {
    margin: 0px auto;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.comic-card {
    width: 400px;
    height: 307px;
    display: flex;
    color: white;
    background: var(--bg);
    margin: 5px;
}

.comic-card img {
    width: 200px;
    height: auto;
}
.comic-card .card-txt-wrapper {
    border-left: var(--primary) 5px solid;
}
.comic-card .card-txt {
    overflow: scroll;
    height: 307px;
}

.comic-card .card-txt > p {
    padding: 10px;
    margin-top: 10px;
    font-weight: lighter;
}
.comic-card .bookmark {
    cursor: pointer;
}
.comic-card .bookmark:hover {
    color: red;
}

/* ===============
    CHARACTER ID     
/* ============= */
.character {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.character div {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.character h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    margin-bottom: 30px;
}

.character p {
    font-size: 18px;
    margin-left: 20px;
    width: 70vw;
}
.character-container .picture img {
    width: 250px;
    height: auto;
    object-fit: cover;
    object-position: top;
}
h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* PAGES */
.pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.pages > svg {
    color: gray;
}
.pages button {
    margin: 0 5px;
    font-weight: normal;
}
.pages > div {
    cursor: pointer;
}
.pages > div:hover {
    color: var(--primary);
}
button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
}
.btn-txt {
    font-size: 14px;
}
.pages button:hover {
    color: var(--primary) !important;
}

.pages-limit {
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    cursor: pointer;
}
/* ===============
      MODAL       
/* ============= */

div > button {
    font-weight: bold;
    padding: 8px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
/* modal container input */
.modal-container {
    background: white;
    padding: 20px;
    color: #161616;
    border-radius: 2px;
    position: relative;
}
.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 20px 10px;
}

.modal form input {
    background: white;
    color: black;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid var(--dark);
    padding: 10px 20px;
}
.modal form input:focus {
    border-bottom: 2px solid var(--primary);
}
.modal ::placeholder {
    color: #b9b4b4;
}
.modal-container span {
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
}
.sign-btn {
    cursor: pointer;
}
.sign-btn:first-child {
    cursor: pointer;
    margin-right: 20px;
}
.modal-container button:hover {
    font-weight: bold;
    background: var(--hover);
    border: 2px solid var(--hover);
}
.modal-container .sign-btn:hover {
    color: var(--primary) !important;
    border-bottom: 2px solid var(--primary) !important;
}
.modal-container button {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    border-radius: 2px;
}

.sign {
    display: flex;
    justify-content: center;
}
.modal-btn:hover {
    color: var(--primary);
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
}
.close {
    position: absolute;
    top: 10px;
    right: 12px;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/* FAVORITES */
.bookmark:hover {
    color: black;
}
